:root{
    --accent:#c65a48;
    --dark:#2b5b5b;
    --bg:#fbf8f6;
    --card:#fff;
    --radius:14px;
    --app-font: 'Itim', system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    /* CLAVE: esto es lo que Ionic usa */
    --ion-font-family: var(--app-font);
}

ion-card {
    box-shadow: none !important;
    border: none !important;
    background: transparent !important; 
    margin: 0; 
}

/* Fondo general de la app */
ion-content{
    --background: var(--bg);
    --padding-top: 32px;
}

/* Toolbar */
ion-toolbar{
    --background: #D2694C;
    --color: #000000;
}

/* Tarjetas */
ion-card{
    --color: #000;
}


ion-card-title{
    color: #000;
}

